body,html{
  margin :0;
  height: 100%;
  background-color: rgb(243, 243, 255);
  overflow-y: hidden;
}

#root{
  height: 100%; 
  width: 100%;
}

.app{
  height: 100%;
  width: 100%; 
  /* margin: 0; */
}

.app-name{
  display: flex ;
  padding: 10px;
  justify-content: center;
}

.app-name > h1{
  color:rgb(255, 255, 255) ;
  font-family: montserrat;
  font-size: 20px;
}

.app-row{
  height: 100%;
}

.menu-container{
  height: 100%;
  width: 10%;
  border: 1px rgb(75, 206, 149) solid;
  background-color: rgb(40, 131, 250);
  /* background-color: rgb(188, 243, 243); */
}

.menu{
  display: block;
  justify-content: center ;
}

.icon-container{
  display: flex;
  margin-top: 60px;
  margin-left: 10px;
  color:rgb(255, 255, 255) ;
  font-family: montserrat;
}

.journal-container{
  height: 100%;
  width: 90%;
  padding: 0px;
  /* background-color: rgb(232, 203, 203); */

}

.journal-container > header {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 50px;

  /* background-color: antiquewhite; */
}

.date{
  font-family: monospace;
  display: flex;
  justify-content: center;
  border-bottom: 1px rgb(75, 206, 149) solid;
}

.main-content{
  height: 100%;
  width: 100%;
  margin: 0;
  display: block;
}

@media only screen and (max-width: 1200px) {
  .app-name{
    display: none;
  }

  .menu-label{
    display: none;
  }

  .menu-icon{
    margin: auto;
  }
}
